{
    "iptables_bin": "/sbin/iptables",
    "iptables-save_bin": "/sbin/iptables-save",
    "ip6tables_bin": "/sbin/ip6tables",
    "ip6tables-save_bin": "/sbin/ip6tables-save",
    "auto_commit_and_save_rules": "yes",
    "iptables_save_to": "/etc/iptables.rules",
    "ip6tables_save_to": "/etc/ip6tables.rules",
    "max_tcp_in_per_second": 10000,
    "max_tcp_out_per_second": 10000,
    "max_udp_in_per_second": 10000,
    "max_udp_out_per_second": 10000,
    "max_icmp_in_per_second": 10000,
    "max_icmp_out_per_second": 10000,
    "allow_localhost_communication": "yes",
    "log_icmp_in": "no",
    "log_icmp_out": "no",
    "log_syn_in": "no",
    "log_syn_out": "no",
    "log_established": "no",
    "log_drop": "no",
    "log_rejected": "no",
    "log_invalid": "no",
    "deny_with": "drop",
    "reject_with": "port-unreachable",
    "ipv4": {},
    "ipv6": {
        "eth0": {
	    "log_syn_in": "no",
	    "log_drop": "yes",
	    "log_reject": "yes",
	    "service_ports_tcp_in": "22",
	    "service_ports_tcp_out": "20 21 22 25 53 80 123 143 389 443",
	    "service_ports_udp_in": "",
	    "service_ports_udp_out": "20 21 22 53 67 80 123 389 443",
	    "allowed_icmp_types_in": "1 2 3 4 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142",
	    "allowed_icmp_types_out": "1 2 3 4 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142",
	    "additional_output_rules": [
	        "-d 2001:DB8::/32 -p tcp --sport 636 -j ACCEPT",
	        "-d 2001:DB8::/32 -p tcp --sport 5432 -j ACCEPT"
	    ],
	    "additional_input_rules": [
	        "-s 2001:DB8::/32 -p tcp --dport 636 -j ACCEPT",
	        "-s 2001:DB8::/32 -p tcp --dport 5432 -j ACCEPT"
	    ]
        }
    }
}
